<p class=heading>
  TERMS & CONDITIONS
</p>

<hr />


<p class=bodyheading>
  <u>THESE TERMS AND CONDITIONS MAY CHANGE</u>
</p>
<hr class="w3-width-60 w3-left">
<p class=body>

  All features, content, specifications, products and prices of products and services described or depicted on this Web
  Site are subject to change at any time without notice. All measurements, weights, colors and similar descriptions are
  approximate and are provided for convenience purposes only. We make all reasonable efforts to accurately display the
  attributes of our products, including the applicable colors; however, the actual color you see will depend on your
  computer system and we cannot guarantee that your computer will accurately display such colors. The inclusion of any
  products or services in this Web Site at a particular time does not imply or warrant that these products or services
  will be available at any time. It is your responsibility to ascertain and obey all applicable local, state, federal
  and international laws (including minimum age requirements) in regard to the possession, use and sale of any item
  purchased from this Web Site. By placing an order, you represent that the products ordered will be used only in a
  lawful manner.
</p>
<p class=bodyheading>
  USE OF THIS WEB SITE
</p>

<ul class=body>
  <li>Rules</li>
  <li>Our Proprietary Rights</li>
  <li>Indemnification</li>
  <li>Purchases</li>

</ul>


<p class=bodyheading>
  RULES
</p>
<hr class="w3-width-60 w3-left">
<p class=body>
  You agree not to engage in any of the following prohibited activities: (i) copying, distributing, or disclosing any
  part of the Web Site in any medium, including without limitation by any automated or non-automated “scraping”; (ii)
  using any automated system, including without limitation “robots,” “spiders,” “offline readers,” etc., to access the
  Web Site in a manner that sends more request messages to the our servers than a human can reasonably produce in the
  same period of time by using a conventional on-line web browser (except that we grant the operators of public search
  engines revocable permission to use spiders to copy materials from the Web Site for the sole purpose of and solely to
  the extent necessary for creating publicly available searchable indices of the materials, but not caches or archives
  of such materials); (iii) transmitting spam, chain letters, or other unsolicited email; (iv) attempting to interfere
  with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Web
  Site; (v) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately
  large load on our infrastructure; (vi) uploading invalid data, viruses, worms, or other software agents through the
  Web Site; (vii) collecting or harvesting any personally identifiable information, including account names, from the
  Web Site; (viii) using the Web Site for any commercial solicitation purposes; (ix) impersonating another person or
  otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide
  your identity; (x) interfering with the proper working of the Web Site; (xi) accessing any content on the Web Site
  through any technology or means other than those provided or authorized by the Web Site; or (xii) bypassing the
  measures we may use to prevent or restrict access to the Web Site, including without limitation features that prevent
  or restrict use or copying of any content or enforce limitations on use of the Web Site or the content therein.
</p>

<p class=bodyheading>
  OUR PROPRIETARY RIGHTS
</p>
<hr class="w3-width-60 w3-left">
<p class=body>
  The design of this Web Site and all text, graphics, software, photographs, information, designs, logos, content, and
  other material displayed on or that can be downloaded from this Web Site are either the property of, or used with
  permission by, Company and are protected by U.S. and international copyright, trademark and other laws, treaties and
  conventions and may not be used except as permitted by these Terms of Use or with the prior written permission of the
  owner of such material. You may not modify the information or materials located on this Web Site in any way or
  reproduce, copy, download, stream or publicly display, perform, or distribute or otherwise use any such materials for
  any public or commercial purpose. All software used on this site is the property of Company or our software suppliers
  and is protected by U.S. and international copyright laws, treaties and conventions. Any unauthorized use of any such
  information or materials may violate copyright laws, trademark laws, laws of privacy and publicity, and other laws and
  regulations.
</p>
<p class=bodyheading>
  INDEMNIFICATION
</p>
<hr class="w3-width-60 w3-left">
<p class=body>
  You agree to defend, indemnify and hold Company and Onestop, our vendors, including Social Annex, and third parties
  such as Instagram, LLC, Twitter Inc., Facebook, Inc., Vine Labs, Inc., Pinterest, Inc. and Google Inc. and any of our
  or their respective parents, affiliates, licensees, licensors, and each of our or their respective officers,
  directors, employees, successors, agents and assigns, harmless from and against any and all claims, damages, costs and
  expenses, including attorneys' fees, arising from or related to (a) your use of this Web Site, including any User
  Content, data or information transmitted by received by you; (b) any unacceptable use of this Web Site, including any
  statement, data or content made, transmitted or republished by you which is prohibited by these Terms of Use; (c) your
  violation of any third-party right, including without limitation any right of privacy or Intellectual Property Rights;
  (d) any other party’s access and use of the Web Site with your unique username, password or other appropriate security
  code; (e) the use of any User Content, including, without limitation, all claims arising out of or based upon
  copyright or trademark infringement, misappropriation, invasion of privacy, defamation, right of publicity and/or any
  blurring, alteration, editing, morphing, distortion, illusionary effect, faulty reproduction, fictionalization or use
  in any composite form of your or any other person's or entity's name, Instagram, Twitter, or Vine handle, Facebook ID,
  profile picture, image, likeness, comments, posts, statements or other information and/or the User Content; and (f)
  any breach or alleged breach by you of any of these Terms of Use or applicable laws.
</p>
<p class=bodyheading>
  PURCHASES
</p>
<hr class="w3-width-60 w3-left">
<p class=body>
  All information that you provide in connection with a purchase or transaction or other monetary transaction
  interaction with the Web Site must be accurate, complete, and current. You agree to pay all charges incurred by users
  of your credit card, debit card, or other payment method used in connection with a purchase or transaction or other
  monetary transaction interaction with the Web Site at the prices in effect when such charges are incurred. You will
  pay any applicable taxes, if any, relating to any such purchases, transactions or other monetary transaction
  interactions.
  <br />
  All products purchased from or via the Web Site are transported and delivered to you by an independent carrier not
  affiliated with, or controlled by, us. Title to products purchased on the Web Site, as well as the risk of loss for
  such products, passes to you when we deliver these items to the carrier.
  <br />
  For more information on our billing and product purchase policies, please see our Refund Policy, Customer Service page
  and help/FAQ.
  <br />
  <br />
  <br />
  <br />
  <cite title="CookWare.com">Last Updated: August 2019</cite>
</p>

<a href="termsandconditions.html">Go to Top</a>