p.heading
	{
		font-family: Impact, Charcoal, sans-serif;
		  font-size: 200%;
	}
	.bodyheading
	{
	font-family: Book Antiqua;
		  font-size: 110%;
	}

	.body
	{
	font-family: Book Antiqua;
		  font-size: 90%;
	}