<h2>Forgot Your Username/Password?</h2>


<form action="mailto:kiruthika1612@gmail.com" method="post">

  
  <div class="center">

  <div class="container">
 
    <label for="uname"><b>Enter your New Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
  
    <label for="email"><b>Enter your Email-id</b></label>

    <input type="email" placeholder="Enter Email-id" name="email" required>
        
    <button type="submit"> Send my Password</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"><a [routerLink]="['/home']">Cancel</a></button>
    
  </div>
  </div>
</form>
