input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4DABD7;
    color: black;
    padding: 14px 20px;
    margin: 1px 0;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  
  
  .container {
    padding: 16px;
    width:200 px;
    color:black;
    
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  .center {
    margin: auto;
    width: 60%;
    border: 8px solid #767373;
    padding: 10px;
  }
  
  
  