<p class=heading>
  ABOUT US
  </p>
  <hr />
  <p class=bodyheading>
  Our Motivation
  </p>
  <hr/>
  <p class=body>
  Your Checklist is a travel items purchase website that will help people to get all the essential items that will be required to make their travel a comfortable one.
  </p>
  <div class="w3-center">
  <table class=" w3-border-0" cellpadding="30">
  <!--<thead><center><h2> Travel Bags</h2></center> </thead>!-->
  <tr>
  <td><img src="../../assets/images/Anitha.jpg"  width="250" height="250" alt="anitha">
  <ul class=body>
  <ul>Anitha Raja Arunachalam</ul>
  <ul>22663100195047</ul>
  
  </ul>
  </td>
  <!--<b><p align="center"> 60.00 CAD </p></b>!-->
  <!--<center><button type="button"><a href="travelbag1.html">Buy</a></button></center></td>!-->
  <td><img src="../../assets/images/Kiruthika.png" width="250" height="250" alt="kiruthika">
  <ul class=body>
  <ul>Kiruthika Ramachandran</ul>
  <ul>22663100194883</ul>
  
  </ul>
  </td>
  <!--<b><p align="center"> 58.00 CAD </p></b>!-->
  <!--<center><button type="button"><a href="travelbag2.html">Buy</a></button></center></td>!-->
  <td><img src="../../assets/images/Shaheen.JPG"  width="250" height="250" alt="shaheen">
  <ul class=body>
  <ul>Shaheen Shaik</ul>
  <ul>22663100195129</ul>
  </ul>
  </td>
  </tr>
    
  </table>
  </div>
  <p><b>
   <a class="w3-center" href="https://github.com/kiruthika1612/YoursChoice.git">Visit our Project in Github</a><p></b>
