<p class=heading>
  RETURNS AND REFUND POLICY
  </p>
  <hr />
  <p class=body>
  You can return eligible items for a refund of the purchase price within the following time frames: (a) 30 days of receiving an order, (b) 7 days for Quick Ship upholstery items, and (c) for items from your YourChecklist retail registry, within 90 days from the date of purchase or your event date, whichever date is later. For in-store purchases, an original receipt or gift receipt is required. Monogrammed items, Made to Order items and other customized items are not eligible for returns. If we shipped the wrong product or your order is damaged in transit, please contact us within 7 days. Please review the full list of ineligible items and our refund policy below before purchasing any item.
  </p>
  <p class=bodyheading>
  <b>WAYS TO RETURN</b>
  </p>
  <ul class=body>
  <li>Return by Post - Start the process through your account profile. If you checked out as a guest, please call Customer Care</li>
  <li>Returns by Phone - Please call Customer Care to initiate a return. Note that the return process for all furniture items must be started by calling Customer Care. </li>
  </ul>
  <br />
  <p class=bodyheading>
  <b>DETAILS
  </b>
  </p>
  <p class=bodyheading>
  INELIGIBLE ITEMS
  </p>
  <p class=body>
  The following items are not eligible for returns or exchanges, unless defective:
  </p>
  <ul class=body>
  <li>Final sale items (with prices ending in $.X7 or $.X9)</li>
  <li>Items damaged through normal wear and tear</li>
  <li>Gift Cards</li>
  </ul>
  <p class=bodyheading>
  REFUND POLICY
  </p>
  <ul class=body>
  <li>riginal Receipt for In-Store Purchases - Returns with the original receipt will be refunded in the original form of payment.</li>
  <li>Delivery Fees - Delivery fees are non-refundable.</li>
  <li>Cash & Cheque Refunds - Refunds over $100 (other than those refunded in the form of a Merchandise Credit) will be issued as a company cheque and mailed to you (may take 14 business days).</li>
  <li>Over $10,000 - If your return for Merchandise Credit Cards is greater than $10,000, we will issue you $10,000 in Merchandise Credit Cards to you that day, then mail additional Merchandise Credit Card(s) for the remaining amount owed to you in subsequent days.</li>
  <li>Purchases are not eligible for price adjustments.</li>
  </ul>