<div class="w3-container ">
  <div class="w3-row">
    <div class="w3-third w3-padding-32">
      <br><br>
      <button class="w3-button w3-black" [routerLink]="['/accessories']"><i class="fa fa-chevron-circle-left"
          aria-hidden="true"></i> &nbsp;&nbsp; Back</button>
    </div>
    <div class="w3-third w3-padding-32 w3-center">
      <p-carousel [value]="accessories" [numVisible]="1" [numScroll]="1" [circular]="true"
        [responsiveOptions]="responsiveOptions" [style]="{'width':'600px', 'margin-top':'2em'}">
        <p-header>
          <h3>LEG HOLDER</h3>
        </p-header>
        <ng-template let-accessories pTemplate="item">
          <div class="car-details">
            <div class="p-grid p-nogutter">
              <div class="p-col-12">
                <img src="{{accessories}}" />
              </div>
            </div>
          </div>
        </ng-template>
        <p-footer>
          <span>50.00 CAD</span>&nbsp;
          <button class='w3-button w3-green' [routerLink]="['/payment/ta2']"> Buy </button>
          <br><br><span>30.00 CAD</span>&nbsp;
          <button class='w3-button w3-orange' [routerLink]="['/payment/ta2']"> Rent </button>
        </p-footer>
      </p-carousel>
    </div>
    <div class="w3-third w3-padding-32">

    </div>
  </div>
</div>