<div class="w3-light-grey">
    <header class="bgimg w3-display-container w3-grayscale-min" id="home">
      <div class="w3-display-top w3-center">
        <h2 class="w3-text-black ">Your Checklist</h2>
      </div>
    </header>
  
    <div class='w3-center w3-padding-16'>
      <h3> Travel Accessories</h3>
    </div>
    <div class="w3-center">
      <table class="w3-table" cellpadding="30">
  
        <tr>
          <td>
            <img src="../../../assets/images/travelacc1.JPG" width="250" height="250" alt="accessorys 1">
            <h4 class="w3-center"> Leg Holder</h4>
            <div class='w3-center'>
  
              <button class='w3-button w3-green' [routerLink]="['/accessoryone']" type="button">
                Buy
              </button>
            </div>
          </td>
          <td><img src="../../../assets/images/travelacc2.JPG" width="250" height="250" alt="accessorys 2">
            <h4 class="w3-center"> Travel Pouch</h4>
            <div class='w3-center'>
              <button class='w3-button w3-green' [routerLink]="['/accessorytwo']" type="button">
                Buy
              </button></div>
          </td>
          <td><img src="../../../assets/images/travelacc3.JPG" width="250" height="250" alt="accessorys 3">
            <h4 class="w3-center"> Neck Pillow</h4>
            <div class='w3-center'>
              <button class='w3-button w3-green' [routerLink]="['/accessorythree']" type="button">
                Buy
              </button></div>
          </td>
        </tr>
      </table>
    </div>
  </div>