<div id="products" class="content w3-padding-large">
  <div class="w3-col l2">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
      <a [routerLink]="['/trolleys']">
        <img src='../../assets/images/Trolleys_Link.jpg' style="width: 100%" height="200" alt="Trolleya"></a>
      <div class="w3-container w3-white">
        <h4><b>Travel Trolleys</b></h4>

      </div>
    </div>
  </div>
  <div class="w3-col l2">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
      <a [routerLink]="['/bags']">

        <img src="../../assets/images/Bags_Link.jpg" style="width: 100%" height="200" alt="bags"></a>
      <div class="w3-container w3-white">
        <h4><b>Travel bags</b></h4>

      </div>
    </div>
  </div>
  <div class="w3-col l2">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
      <a [routerLink]="['/accessories']">
        <img src="../../assets/images/Accessories_Link.jpg" style="width: 100%" height="200" alt="accessories"></a>
      <div class="w3-container w3-white">
        <h4><b>Travel Accessories</b></h4>

      </div>
    </div>
  </div>
  <div class="w3-col l2">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
      <a href="cosmetics.html">
        <img src="../../assets/images/Cosmetics_Link.jpg" style="width: 100%" height="200" alt="cosmetics"></a>
      <div class="w3-container w3-white">
        <h4><b>Travel Cosmetics</b></h4>

      </div>
    </div>
  </div>
</div>