<p class=heading>
  PRIVACY POLICY
  </p>
  <hr />
  <p class=body>
  This Privacy Policy has been prepared by YourChecklist which is owned and operated by 
  YourChecklist Canada, Inc. (“YC Brands”, “we”, “us”, “our”). We are committed to respecting your privacy. 
  The purpose of this Privacy Policy is to inform you what information we may collect from you, how we use 
  and disclose such information, and the choices you have regarding our use of, and your ability to access, 
  review, correct and opt out of our use of, the information. This Privacy Policy applies to our privacy 
  practices on our website available at our site and through other int
  eractions with you such as email and phone.
  </p>
  <ul class=body>
  <li>Collecting and Using Information About You</li>
  <li>Purchase or Order a Product</li>
  <li>Customer Service</li>
  <li>Policy Changes</li>
  <li>Contact Us</li>
  </ul>
  <p class=bodyheading>
  Collecting And Using Information About You
  </p>
  <hr class="w3-width-60 w3-left">
  <p class=body>
  The term “personal information” means information about an identifiable individual, including name, address, email address, signature, and other information relating to an individual. We may collect and use personal information when you:
  </p>
  <ul class=body>
  <li>purchase or order a product;</li>
  <li>participate in contests, sweepstakes or promotions;</li>
  <li>participate in surveys or customer research</li>
  <li>contact our customer service department with a comment, question or complaint.</li>
  </ul>
  <p class=body>
  To serve you better, we may combine information you give us online, in our stores or through our catalogs. We may also combine information with publicly available information or other information we receive from third parties, including providers of third party cookie and other third party browsing and use data as set out under “Online Ads/Interest-Based Advertising” below. We use that combined information to enhance and personalize the shopping experience of you and others with us, and to recognize our customers so that we can communicate with you about our products and events that may be of interest to you, and for other promotional purposes. We also use information for internal purposes, such as analyzing preferences, trends, and statistics to help us better understand our customers and to enhance our product and service offerings.
  </p>
  <p class=bodyheading>
  Purchase Or Order A Product
  </p>
  <hr class="w3-width-60 w3-left">
  <p class=body>
  You do not have to provide us with any personal information when you purchase merchandise with cash at one of our stores. If you use a credit or debit card for your purchase, we collect your debit or credit card-related information and your signature to process and administer your payment. If you make a purchase online, we also collect your shipping and billing address, telephone number and email address in order to arrange shipment of your order, track your order and contact you about your order. If you purchase a gift card on one of our websites, we may also collect the name and email address of the recipient in order to deliver the gift card on your behalf. We maintain a record of your product purchases to facilitate merchandise returns, and to better understand your preferences and tailor our communications to you.
  </p>
  <p class=bodyheading>
  Customer Service
  </p>
  <hr class="w3-width-60 w3-left">
  <p class=body>
  When you contact us with a comment, question or complaint, you may be asked for information that identifies you (such as your name, address and a phone number) along with additional information we need to help us promptly answer your question or respond to your comment or complaint. We may also retain this information to assist you in the future and to improve our customer service, product and service offerings, and events and promotions.
  </p>
  <p class=bodyheading>
  Policy Changes
  </p>
  <hr class="w3-width-60 w3-left">
  <p class=body>
  If we decide to change our privacy policy in whole or in part to reflect changes to our personal information practices, we will inform you by posting a notice on our websites, as applicable. Those changes will go into effect on the effective date posted in the notice and at the end of the revised Privacy Policy. Your continued use of our websites or other services constitutes your acceptance of the practices described in the revised Privacy Policy.
  </p>
  <p class=bodyheading>
  Contact Us
  </p>
  <hr class="w3-width-60 w3-left">
  <p class=body>
  Please contact us if:
  </p>
  <ul class=body>
  <li>you have any questions or comments about this Privacy Policy,</li>
  <li>you wish to access, update, and/or correct inaccuracies in your personal information, or</li>
  <li>you otherwise have a question or complaint about the manner in which we or our service providers treat your personal information.</li>
  </ul>
  <p class=body>
  You may contact us regarding these matters by phone at <kbd>1 (00) 09-0000</kbd>, by email at <kbd>yourchecklist@yahoo.com</kbd> or by mail at the following address: YourChecklist Canada, Inc., c/o YourChecklist, Inc., <kbd>Attn: Legal Department, 3250 Van East Ave., Thunder Bay, CA 94109.</kbd>
  <br />
  <br />
  <br />
  <br />
  <cite title="YourChecklist.com">Effective Date: October 2018</cite>
  </p>
