<h2 style="color:black;"> Checkout Page </h2>
<p style="color:black;">&nbsp;
  Please enter all the required details </p>
<div class="row">
  <div class="col-75">
    <div class="container">
      <!-- validating data in checkout form -->
      <form [formGroup]="paydata" (ngSubmit)="onClickSubmit(paydata.value)" action="continuetocheckout.html">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label><i class="fa fa-user"></i> Full Name</label>
            <input type="text" formControlName="fname" placeholder="Enter your name" required>
            <label><i class="fa fa-envelope"></i> Email</label>
            <input type="text" formControlName="pemail" placeholder="Enter your mail ID" required>
            <label for="adr"><i class="fa fa-address-card-o"></i> Address </label>
            <input type="text" formControlName="address" id="adr" name="address" placeholder="Enter your address"
              required>
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" formControlName="pcity" id="city" name="city" placeholder="Enter your city" required>

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" formControlName="pstate" id="state" name="state" placeholder="Enter your state"
                  required>
              </div>
              <div class="col-50">
                <label for="zip">Postal Code</label>
                <input type="text" formControlName="ppostalcode" id="zip" name="zip" placeholder="Postal Code" required>
              </div>
            </div>
          </div>
          <!-- payment form -->
          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" formControlName="nameoncard" id="cname" name="cardname"
              placeholder="Enter the name on the card" required>
            <label for="ccnum">Credit card number</label>
            <input type="text" formControlName="cccardno" id="ccnum" name="cardnumber" placeholder="xxxx-xxxx-xxxx-xxxx"
              required>
            <label for="expmonth">Exp Month</label>
            <input type="text" formControlName="expmonth" id="expmonth" name="expmonth" placeholder="xx" required>
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" formControlName="expyear" id="expyear" name="expyear" placeholder="xxxx" required>
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" formControlName="cvv" id="cvv" name="cvv" placeholder="xxx" required>
              </div>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <div *ngIf='this.customerservice.userLoginInfo.userLogin'>
          <input type="submit" (click)='buy()' value="Continue to checkout" class="btn">
        </div>
        <!-- check login status of the user for enablong the button -->
        <div *ngIf='!this.customerservice.userLoginInfo.userLogin'>
          <input type="submit" [disabled]="!paydata.valid"
            onclick="document.getElementById('loginModal').style.display='block'" value="Please Login to Check Out"
            class="btn">
        </div>

      </form>
    </div>
  </div>

  <div class="col-25">
    <div class="container">
      <h4>Cash on Delivery <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> </span></h4>
      <br />
      <br />
      <div class='w3-center'>
        <div *ngIf='!this.customerservice.userLoginInfo.userLogin'>
          <button class="w3-button w3-orange" onclick="document.getElementById('loginModal').style.display='block'">GO
            FOR COD</button>
        </div>
        <div *ngIf='this.customerservice.userLoginInfo.userLogin'>
          <button class="w3-button w3-orange" (click)='buy()'>GO FOR COD</button>
        </div>
      </div>

      <br />
      <br />

      <!-- Adding popup -->
      <h2>Cash On Delivery!!!</h2>
      <p>Wanna pay only after seeing the product? Check out our exclusive payment option</p>

      <!-- Button to Open the Modal -->
      <button class="w3-button w3-blue w3-margin-bottom"
        onclick="document.getElementById('ticketModal1').style.display='block'">What is COD??</button>

    </div>
  </div>
</div>
<!-- COD Popup-->
<div id="ticketModal1" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">
    <header class="w3-container w3-teal w3-center w3-padding">
      <span onclick="document.getElementById('ticketModal1').style.display='none'"
        class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
      <h2 class="w3-wide"><i class="fa fa-money w3-margin-right"></i>Cash On Delivery</h2>
    </header>
    <div class="w3-container">
      <div class="w3-main">
        <h3>
          Cash on Delivery is a payment method where you dont need to pay anything before you actually see the
          products!!! You can pay the amount after wee deliver the product to you!!! 
        </h3>
      </div>
      <button class="w3-button w3-red w3-section"
        onclick="document.getElementById('ticketModal1').style.display='none'">Cancel <i
          class="fa fa-remove"></i></button>
    </div>
  </div>
</div>

<!-- Login Modal-->
<div id="loginModal" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">
    <header class="w3-container w3-grey w3-center w3-padding">
      <span onclick="document.getElementById('loginModal').style.display='none'"
        class="w3-button w3-grey w3-xlarge w3-display-topright">×</span>
      <h2 class="w3-wide"><i class="fa fa-money w3-margin-right"></i>Login</h2>
    </header>
    <div class="w3-container w3-padding-16">
      <div class="w3-main w3-padding">
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)" style="border:1px solid #ccc">



          <div class="center w3-padding w3-center">
            <label> <b>Email</b></label>
            <input formControlName="email" type="text" placeholder="Enter your email address" required>

            <label><b>Password</b></label>
            <input formControlName="password" type="password" placeholder="Password" required>
            <!-- display buy button once user on successful log in   -->
            <div *ngIf='!showBuy'>
              <button class="w3-button w3-red w3-section"
                onclick="document.getElementById('loginModal').style.display='none'">Cancel</button> &nbsp;&nbsp;&nbsp;
              <button type="submit" class="w3-button w3-green" [disabled]="!formdata.valid"> LogIn</button>
            </div>
            <div *ngIf='showBuy'>
              <button type="submit" class="w3-button w3-green"
                onclick="document.getElementById('loginModal').style.display='none'" (click)='buy()'> BUY</button>
            </div>

          </div>
          <!-- validating mail id and respective password from database -->
          <div *ngIf='loginState' class="w3-container">
            <div class="w3-center">
              <h1 class="w3-red"> Email id or password is incorrect!</h1>
            </div>

          </div>


        </form>
      </div>
      <!-- <button class="w3-button w3-red w3-section"
        onclick="document.getElementById('loginModal').style.display='none'">Cancel <i
          class="fa fa-remove"></i></button> -->
    </div>
  </div>
</div>
<script>
  // When the user clicks anywhere outside of the modal, close it
  var modal = document.getElementById('ticketModal1');
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  var modal = document.getElementById('loginModal');
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>