.bgimg {
    background-position: center;
    background-size:cover;
    background-image: url('../../assets/images/Home_Background.jpg');
    }

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}
 .cookware {
  
    font-size: 50px;
}

.cookware-header-line {

    margin-left: 250px;
    margin-right: 250px;
}

.custom-input {
    width: 50%;

}
a:hover
{
color:purple;
}
a:link
{
color:black;
}

.button {
background-color: #4CAF50; /* Green */
border: none;
color: white;

text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 5px 3px;
transition-duration: 0.4s;
cursor: pointer;
}
.button1 {
background-color: white;
color: black;
border: 2px solid #555555;
}

.button1:hover {
background-color: #555555;
color: white;
}